.about {
	display: flex;
	flex-direction: column;
	&-svg {
		display: flex;
		width: 100%;
		aspect-ratio: 2;
		position: relative;
		&-pic0 {
			position: absolute;
			left: 31%;
			height: 100%;
		}
		&-pic1 {
			position: absolute;
			height: 30%;
			left: 12.5%;
			top: 16%;
		}
		&-pic2 {
			position: absolute;
			height: 30%;
			right: 12%;
			top: 16%;
		}
		&-pic3 {
			position: absolute;
			height: 30%;
			left: 12.5%;
			bottom: 16%;
		}
		&-pic4 {
			position: absolute;
			height: 30%;
			right: 12%;
			bottom: 16%;
		}
		&-pic5 {
			position: absolute;
			height: 42%;
			left: 0;
			top: 32%;
		}
		&-pic6 {
			position: absolute;
			height: 42%;
			right: 0;
			top: 32%;
		}
	}
	&-scroll {
		margin-top: 5rem;
		display: flex;

		height: 100vmin;
		flex-direction: column;
		align-items: center;
		position: sticky;
		top: 10vh;
		bottom: 10vh;
		z-index: 10;
		&-wrapper {
			width: 80%;
			display: flex;
			flex-direction: column;
			align-items: center;
			max-width: 1200px;
			position: absolute;
			top: 0;
			h1 {
				font-family: 'Quicksand';
				font-style: normal;
				text-align: center;
				font-weight: 700;
				font-size: clamp(0.7rem, 2vmin, 1.2rem);
				text-align: center;
				line-height: clamp(1.5rem, 3vmin, 2rem);
				color: #18273a;
			}
		}
	}
	&-content {
		padding-top: 150vmin;
		margin-inline: auto;
		width: 70%;
		&-container1 {
			height: 100vmin;
			scroll-snap-align: start;
			h1 {
				font-family: 'Quicksand';
				font-style: normal;
				font-weight: 600;
				font-size: clamp(4rem, 20vmin, 8rem);
				line-height: clamp(5rem, 20vmin, 10rem);
				margin: 0;
				color: #0a1a31;
			}
			p {
				font-family: 'Oxygen';
				font-style: normal;
				font-weight: 700;
				font-size: clamp(1.2rem, 5vmin, 5rem);
				line-height: clamp(2rem, 5vmin, 8rem);
				margin: 0;
				color: #18273a;
			}
		}
		&-container2 {
			height: 100vh;
			width: 60%;
			h1 {
				font-family: 'Oxygen';
				font-style: normal;
				font-weight: 600;
				font-size: clamp(1.2rem, 8vmin, 4rem);
				line-height: clamp(4rem, 10vmin, 6rem);
				color: #0a1a31;
			}
			h2 {
				font-family: 'Oxygen';
				font-style: normal;
				font-weight: 700;
				font-size: clamp(1.2rem, 4vmin, 5rem);
				line-height: clamp(2rem, 5vmin, 8rem);
				margin-inline: 0;
				margin-block: 0.5rem;
				color: #233039;
			}
			h3 {
				font-family: 'Oxygen';
				font-style: normal;
				font-weight: 700;
				font-size: clamp(0.8rem, 2.5vmin, 4rem);
				line-height: clamp(1.5rem, 4vmin, 6rem);
				margin: 0;
				color: #233039;
			}
			p {
				font-family: 'Source Sans Pro';
				font-style: normal;
				font-weight: 400;
				font-size: clamp(1rem, 2.5vmin, 4rem);
				line-height: clamp(1.5rem, 4vmin, 6rem);
				margin-block: clamp(1rem, 3vmin, 2rem);
				color: #233039;
			}
		}
	}
	&-content2 {
		z-index: 20;
		background-color: white;
		box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
		position: relative;
		width: 100%;
		min-height: 100vh;
		height: fit-content;
		&-section {
			margin-inline: auto;
			padding-top: 3rem;
			padding-bottom: 5rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
			row-gap: clamp(3rem, 10vmin, 5rem);
			width: 80%;
			min-height: 100vh;
			h1 {
				margin-inline: auto;
				width: fit-content;
				text-align: center;
				font-family: 'Source Sans Pro';
				font-style: normal;
				font-weight: 600;
				font-size: clamp(1.2rem, 3vmin, 5rem);
				line-height: clamp(2rem, 5vmin, 8rem);
				color: #0a1a31;
			}
			&-container {
				margin-inline: auto;
				display: flex;
				flex-flow: row wrap;
				align-items: center;
				column-gap: 3rem;
				row-gap: clamp(3rem, 10vmin, 5rem);
				&-column {
					margin: auto;
					width: 40%;
					min-width: max-content;
					display: flex;
					flex-direction: column;
					align-items: center;
					row-gap: clamp(3rem, 10vmin, 5rem);
					justify-content: space-evenly;
					&-row {
						display: flex;
						flex-direction: row;
						align-items: center;
						max-height: 12vmin;
						column-gap: clamp(0.5rem, 3vmin, 1rem);
						min-width: max-content;
						width: 50vmin;
						img {
							max-height: 10vmin;
							max-width: 10vmin;
						}
						&-texts {
							min-width: max-content;
							h1 {
								font-family: 'Oxygen';
								font-style: normal;
								font-weight: 700;
								font-size: clamp(1rem, 4vmin, 1.5rem);
								line-height: clamp(1.5rem, 6vmin, 2rem);
								color: #183d37;
								margin: 0;
							}
							h2 {
								font-family: 'Oxygen';
								font-style: normal;
								font-weight: 700;
								font-style: italic;
								font-size: clamp(0.8rem, 3vmin, 1.2rem);
								line-height: clamp(1.5rem, 5vmin, 1.8rem);
								color: #183d37;
								margin: 0;
							}
						}
					}
				}
			}
		}
	}
	&-footer {
		background-color: #18273a;
		min-height: 60vh;
		padding-inline: 1rem;
		z-index: 50;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		&-row1 {
			margin-top: clamp(2rem, 10vmin, 5rem);
			display: flex;
			flex-direction: row;
			width: 90%;
			justify-content: space-between;
			align-items: center;
			h1 {
				font-family: 'Quicksand';
				font-style: normal;
				font-weight: 600;
				font-size: clamp(2rem, 6vmin, 3rem);
				line-height: 4rem;
				margin: 0;
				color: #ffffff;
			}
			img {
				height: clamp(1.5rem, 5vmin, 2.5rem);
				opacity: 0.5;
			}
		}
		&-row2 {
			min-height: 50%;
			width: 80%;
			margin-bottom: clamp(2rem, 10vmin, 5rem);
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: flex-end;
			row-gap: 2rem;
			&-col1 {
				width: fit-content;
				display: flex;
				flex-flow: row wrap;
				column-gap: 2rem;
				row-gap: 1rem;
				&-links {
					display: flex;
					flex-direction: column;
					row-gap: 1rem;
					&-comp {
						display: flex;
						flex-direction: row;
						column-gap: 0.5rem;
						align-items: center;
						img {
							height: clamp(1rem, 3vmin, 1.5rem);
							color: white;
						}
						a {
							font-family: 'Quicksand';
							font-style: normal;
							font-weight: 600;
							font-size: 0.8rem;
							line-height: 1rem;
							color: #ffffff;
							text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
						}
					}
				}
			}
			&-col2 {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				width: fit-content;
				flex-grow: 2;
				&-links {
					display: flex;
					flex-direction: column;
					align-items: flex-end;
					h1 {
						font-family: 'Oxygen';
						font-style: normal;
						font-weight: 700;
						font-size: clamp(0.8rem, 3vmin, 1.2rem);
						line-height: clamp(1.5rem, 5vmin, 1.8rem);
						color: #ffffff;
					}
					&-comp {
						display: flex;
						flex-direction: row;
						align-items: center;
						column-gap: 0.5rem;
						img {
							height: clamp(1rem, 3vmin, 1.5rem);
							color: white;
						}
						a {
							font-family: 'Quicksand';
							font-style: normal;
							font-weight: 600;
							font-size: 0.8rem;
							line-height: 1rem;
							color: #ffffff;
							text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
						}
					}
				}
			}
		}
	}
}
