.designs {
	width: 100%;
	max-width: 1200px;
	overflow: visible;
	display: flex;
	flex-direction: column;
	align-items: center;
	&-header {
		width: 100%;
		height: calc(100vh + 3rem);
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		&-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			height: min(50%, 500px);
			&-row1 {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-end;
				height: clamp(4rem, 15vh, 6rem);
				width: 100%;
				&-links {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-evenly;
					width: max(50%, 500px);

					&-opt {
						h1 {
							font-family: 'Oxygen';
							font-style: normal;
							font-weight: 400;
							font-size: 1rem;
							margin: 0;
							line-height: 2rem;
							color: #344b47;
							cursor: pointer;
						}
					}
				}
				&-watermark {
					max-height: clamp(1.5rem, 10vh, 2rem);
					color: #505c5a;
					opacity: 0.6;
				}
			}
			&-row2 {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				height: clamp(3rem, 20vh, 6rem);
				width: 90%;
				z-index: -1;
				h1 {
					text-align: center;
					font-family: 'Quicksand';
					font-style: normal;
					font-weight: 700;
					font-size: clamp(2.5rem, 8vh, 5rem);
					line-height: clamp(2.5rem, 10vh, 4rem);
					color: #002b24;
				}
				p {
					font-family: 'Montserrat';
					width: 50%;
					font-style: normal;
					font-weight: 400;
					font-size: clamp(1.2rem, 4.5vh, 1.5rem);
					line-height: clamp(1.8rem, 5vh, 2rem);
					text-align: justify;
					color: #000000;
				}
			}
		}
		&-svg {
			position: relative;
			width: 80%;
			height: 100%;
			margin: 0;
			&-component {
				position: absolute;
				bottom: 5%;
				max-height: 90%;
			}
		}
	}
	&-body {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 90%;
		&-container {
			width: 100%;
			max-width: 1200px;
			&-proj1 {
				&-content {
					img {
					}
					&-details {
						&-header {
						}
						&-body {
						}
						&-footer {
						}
					}
				}
			}
			&-proj2 {
				&-content {
					img {
					}
					&-details {
						&-header {
						}
						&-body {
						}
						&-footer {
						}
					}
				}
			}
			&-proj3 {
				&-content {
					img {
					}
					&-details {
						&-header {
						}
						&-body {
						}
						&-footer {
						}
					}
				}
			}
			&-proj4 {
				&-content {
					img {
					}
					&-details {
						&-header {
						}
						&-body {
						}
						&-footer {
						}
					}
				}
			}
			&-proj5 {
				&-content {
					img {
					}
					&-details {
						&-header {
						}
						&-body {
						}
						&-footer {
						}
					}
				}
			}
			&-proj6 {
				&-content {
					img {
					}
					&-details {
						&-header {
						}
						&-body {
						}
						&-footer {
						}
					}
				}
			}
			&-spacer {
				width: 50%;
			}
		}
	}
}
