.projects {
	width: 90%;
	max-width: 1400px;
	display: flex;
	flex-direction: column;
	align-self: center !important;
	align-items: center;
	&-header {
		width: 100%;
		height: calc(100vh + 3rem);
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		&-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			height: min(50%, 500px);
			&-row1 {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				height: clamp(4rem, 15vh, 6rem);
				width: 100%;
				&-links {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-between;
					width: 100%;
					&-opt {
						h1 {
							font-family: 'Oxygen';
							font-style: normal;
							font-weight: 400;
							font-size: 1rem;
							margin: 0;
							line-height: 2rem;
							color: #344b47;
							cursor: pointer;
						}
					}
				}
				&-watermark {
					max-height: clamp(1.5rem, 10vh, 2rem);
					color: #505c5a;
					opacity: 0.6;
				}
			}
			&-row2 {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				height: clamp(3rem, 20vh, 6rem);
				width: 90%;
				z-index: -1;
				h1 {
					text-align: center;
					font-family: 'Quicksand';
					font-style: normal;
					font-weight: 700;
					font-size: clamp(2.5rem, 8vh, 5rem);
					line-height: clamp(2.5rem, 10vh, 4rem);
					color: #002b24;
				}
				p {
					font-family: 'Montserrat';
					width: 50%;
					font-style: normal;
					font-weight: 400;
					font-size: clamp(1rem, 4.5vh, 1.2rem);
					line-height: clamp(1.8rem, 5vh, 2rem);
					text-align: justify;
					color: #000000;
				}
			}
		}
		&-svg {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 80%;
			height: 100%;
			margin: 0;
			&-component {
				position: absolute;
				bottom: 0;
				max-height: 80%;
			}
		}
	}
	&-body {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding-top: 2rem;
		&-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			row-gap: 3rem;
			width: 100%;
			&-proj {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-evenly;
				height: fit-content;
				width: 100%;
				&-content {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-evenly;
					height: max-content;
					background: #f8f8f8;
					padding: 2rem 0;
					border-radius: 20px;
					height: fit-content;
					width: fit-content;
					box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
					cursor: pointer;
					img {
						width: clamp(120px, 15%, 250px);
					}
					&-details {
						display: flex;
						flex-direction: column;
						justify-content: space-evenly;
						row-gap: 2rem;
						padding-top: 1rem;
						width: 60%;
						&-header {
							display: flex;
							flex-direction: column;
							justify-content: flex-end;
							row-gap: 0.5rem;
							h1 {
								font-family: 'Quicksand';
								font-style: normal;
								font-weight: 700;
								font-size: 2rem;
								line-height: 2.5rem;
								color: #002b24;
								margin: 0;
							}
							h2 {
								font-family: 'Inter';
								font-style: normal;
								font-weight: 400;
								font-size: 0.9rem;
								line-height: 1.2rem;
								color: #000000;
								margin: 0;
							}
						}
						&-body {
							display: flex;
							flex-direction: column;
							justify-content: flex-end;
							row-gap: 1rem;
							p {
								font-family: 'Quicksand';
								font-style: normal;
								font-weight: 600;
								font-size: 0.8rem;
								line-height: 1rem;
								text-align: justify;
								color: #000000;
								margin: 0;
							}
						}
						&-footer {
							display: flex;
							flex-direction: column;
							align-items: flex-end;
							justify-content: flex-end;
							h1 {
								font-family: 'Quicksand';
								font-style: normal;
								font-weight: 700;
								font-size: 0.9rem;
								line-height: 1.2rem;
								color: #000000;
							}
						}
					}
				}
			}
			&-spacer {
				width: clamp(0px, 80%, 1000px);
				height: 100%;
			}
		}
	}
}
